// import font
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap");

// import scss components

// FoodCart
@import "./Style/FoodCart/FoodCart";
@import "./Style/FoodCart/ListFood";
@import "./Style/FoodCart/FoodCartDetails";

// NavBar

@import "./Style/NavBar/NavBar";
@import "./Style/NavBar/Button";

// Tag Filter
@import "./Style/TagFilter/TagFilter";

// View
@import "./Style/View/View";

// Start Code Sass App
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: #f2f2f2;
    font-family: "Nunito", sans-serif;
    color: #22232d;
}
