.food-cart__details {
    text-align: center;
    ul {
        list-style: none;
        // text-align: center;
        .food-cart__details--item {
            width: 350px;
            height: 460px;
            display: inline-block;
            border: 4px solid #fff;
            border-radius: 12px;
            background: #f5f5f5;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            margin: 20px;
            .food-cart__details--container {
                padding: 4px;
                .food-cart__top {
                    border-radius: 8px;
                    background: #d7d2d2;
                    margin-bottom: 20px;
                    // padding: 0;
                    .item-name {
                        font-size: 20px;
                        font-weight: 800;
                        // border-bottom: 2px solid #141414;
                        // padding: 0 80px;
                        cursor: pointer;
                        margin-bottom: 20px;
                        transform: translateY(100%);
                    }
                    img {
                        padding: 25px;
                        width: 200px;
                        height: 185px;
                        border-radius: 100%;
                    }
                }
                .food-cart__bottom {
                    padding: 30px;
                    .item-description {
                        font-size: 0.9rem;
                        font-weight: normal;
                        margin-bottom: 20px;
                    }
                    .item-price {
                        text-align: right;
                        margin-bottom: 20px;
                        font-weight: 1000;
                    }
                    a {
                        color: #000;
                        text-decoration: none;
                        background: #ffcb00;
                        padding: 0.5rem;
                        border-radius: 12px;
                        font-size: 0.9rem;
                        font-weight: 800;
                        margin-bottom: 20px;
                        &:hover {
                            background: #f5db73;
                            color: #414147;
                        }
                    }
                }
            }
        }
    }
}
